/*HEADER*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__margin {
  margin: 92px 51px;
}

.header__links-list {
    display: flex;
    gap: 27px;
    align-items: center;
}

.header__link_active {
  list-style: none;
  text-decoration: none;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
  text-underline-offset: 4px;
  line-height: normal;
  letter-spacing: normal;
  padding: 1px 5px 0 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0 !important;
}

.header__logo {
  display: inline;
  margin-right: 155px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address__item {
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 5px;
}

/*COVER*/

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 165px 50px 49px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 136px;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  letter-spacing: 30%;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid white;
  background: transparent;
  color: inherit;
  font-family: Raleway, sans-serif;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  line-height: normal;
}

/*SECTION*/

.section__margin {
  margin: 180px 50px;
}

/*LOTS*/ 

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  margin: 29px 0;
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 430px;
  height: 450px;
  padding: 49px 40px 51px 40px ;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  line-height: 26.4px;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  margin-left: 40px;
  text-underline-offset: 5px;
}

/*ABOUT*/

.about__column {
  display: grid;
  grid-template-columns: 430px 885px;
  gap: 25px;
}

.about__logo {
  background-color: black;
  border-radius: 150px;
  width: 240px;
  height: 240px;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about__title {
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 102px 0;
}

.about__text {
  font-size: 20px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*FOOTER*/

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 50px;
  padding: 5px 0;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}